<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.zkb.registrierung">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zkb_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/zkb_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.RegistrierungZkb">

        <activity android:name=".ui.registration.RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>